body{
    padding-right: 20%;
    padding-left: 20%;
}

fieldset{
    background-color: azure;
   
box-shadow: 1em 1em 2em black;
}
legend{
    font-weight: bold;
}

.fields{
    text-align: center;
    ;
}

label {
    margin-left: 2em;
    margin-bottom: 1em;
}

input {
    text-align: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}
.paraInCheck{



}
